primarycolor = #e91e63
bgcolor = black
lightbgcolor = #111
lighttextcolot = #b2b2b2
color = white
mobilesidepad = 2rem
filtercolor = rgba(0, 0, 0, .7)

*
    box-sizing border-box

body
    font-family 'Raleway', sans-serif
    font-weight 400
    font-size 14px
    color color

h1, h2, h3, h4, h5, h6
    font-weight 500
    
ul
    list-style none

*::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.initial-loader-div
    position absolute
    top 0
    left 0
    height 100vh
    width 100%
    color color
    background-color bgcolor

#app
    background-color lightbgcolor
    position absolute
    width 100%
    top 0
    color color
    left 0
    min-height 100vh

.loading-overlay
    position fixed
    height 100%
    z-index 10000
    background-color rgba(0, 0, 0, .8)

.full-w
    width 100%
    
.half-w
    width 50%
    padding 0 2%
    flex-shrink 0
    &:nth-child(2n + 1)
        padding-left 0
    &:nth-child(2n)
        padding-right 0

.text-center
    text-align center

.flex
    display flex
    align-items center
    &.start
        align-items flex-start

.flex-column
    display flex
    align-items center
    flex-direction column
    &.end
        align-items flex-end
    &.start
        align-items flex-start

.wrap
    flex-wrap wrap

.justify-center
    justify-content center

.justify-end
    justify-content flex-end
    
.space-between
    justify-content space-between

.pad
    padding 0 mobilesidepad
    
.label
    font-weight 700
    font-size 14px
    margin-bottom .25rem
    &.big
        margin-bottom .5rem
        font-size 16px

.text
    font-weight 500
    font-size 13px
    margin-bottom .1rem
    &.big
        margin-bottom .3rem
        font-size 15px
    &.small
        font-size 11px

.light-text
    color lighttextcolot

.ellipsis
    max-width 100%
    display inline-block
    white-space nowrap
    overflow hidden !important
    text-overflow ellipsis

@import './loader';
@import './button';
@import './form';

.register-container
    background-image: linear-gradient(180deg, filtercolor, filtercolor), url('./../media/compressed/register.jpg');
    background-size cover
    background-position center
    height 100vh
    text-align right

.register-container_img
    width 150px
    margin-bottom 70%
    
.start-container
    height 100vh
    
.start-container_img
    width 150px
    margin-bottom 20%

currenttrackheight = 40vh
.event-current_track
    height currenttrackheight
    overflow hidden
    position relative

.event-current_track-leave_button
    z-index 1000
    position absolute
    top 10px
    left 10px
    height 40px
    width 40px
    font-size 28px

.event-current_track-img
    width 100%
    height auto
    position absolute
    top 'calc(((100vw - %s) / 2) * -1)' % currenttrackheight
    filter blur(5px)

.event-current_track-content
    height 100%
    z-index 100
    background-color rgba(0, 0, 0, .4)
    .text
        margin-bottom 5px

userpicsize = 100px
.event-current_track-content-user_img
    height userpicsize
    width userpicsize
    border-radius userpicsize
    margin-bottom 20px
    
.add-track-button
    position absolute
    z-index 1000
    top 'calc(%s - 22.5px)' % currenttrackheight
    left 50%
    transform translate(-50%)

.event-queue_container
    height 'calc(100vh - %s)' % currenttrackheight
    overflow-y auto
    padding-top 40px

.event-queue_item
    margin-bottom 10px
    flex-shrink 0

.event-queue_item-img
    height 40px
    margin-right 10px
    
.event-add_track_container
    overflow-y auto
    padding-top 40px
    position absolute
    height 'calc(100vh - %s)' % currenttrackheight
    top currenttrackheight
    z-index 100
    background-color lightbgcolor
    transform translate(100%)
    transition transform 300ms ease
    &.active
        transform translate(0%)
        
.event-add_track_container-playlist
    border-bottom 1px lighttextcolot solid
        
.event-add_track_container-playlist-title
    padding 1rem .4rem
    width 100%
    margin 0 !important

.event-add_track_container-playlist-track
    padding 0 .4rem
    margin-bottom 10px

.shrink-transition
    overflow hidden
    transition height 300ms ease
